{{ define "content" }}
<div class="product-detail">
        <h1>{{.Params.fields_name}}</h1>
        <div class="row">
          <div class="col-md-6">
            <form>
              <div class="form-group">
                <label htmlFor="name">Name</label>
                <input class="form-control" id="name" name="name" placeholder="Name" value={{.Params.fields_name}} />
              </div>
  
              <div class="form-group">
                <label htmlFor="description">Description</label>
                <div>{{ .Params.fields_description }}</div>
              </div>
  
              <div class="form-group">
                <label htmlFor="sku">SKU</label>
                <input class="form-control" id="sku" name="SKU" placeholder="SKU" value={{ .Params.fields_SKU }} type="number" />
              </div>
  
              <div class="row">
                <div class="col-sm-4 form-group">
                  <label htmlFor="price">Price</label>
                  <input class="form-control" id="price" min="0" name="price" step="0.01" type="number" value={{ .Params.fields_price}} />
                </div>
                <div class="col-sm-4 form-group">
                  <label htmlFor="weight">Weight</label>
                  <input class="form-control" id="weight" min="0" name="weight" type="number" value={{ int .Params.fields_weight}} />
                </div>
                <div class="col-sm-4 form-group">
                  <label htmlFor="stocklevel">Stock Level</label>
                  <input class="form-control" id="stocklevel" min="0" name="stocklevel" type="number" value={{ .Params.fields_stocklevel}} />
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <img class="img-thumbnail" src="{{.Params.fields_vehicleImage}}" alt="" />
          </div>
        </div>
      </div>
{{end}}
